.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  h3 {
    text-align: center;
  }
  .cards_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
    gap: 20px;
    justify-items: center;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 300px;
      max-height: 300px;
      border: 1px solid #888;
      font-size: 14px;
      padding: 3px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
      position:relative;
      img {
        width: 100%;
        height: 100%;
      }
      p:nth-child(2) {
        margin: 0 5px;
      }
      div:nth-child(3) {
        display: flex;
        justify-content: space-between;
        padding: 0 5px;
      }
      &:hover {
        cursor: pointer;
      }
      &:active {
        transform: scale(0.99);
      }
      .delete_btn{
        position:absolute;
        top:-15px;
        right:-15px;
        color:red;
        font-size:20px;
      }
      .left_footer_card{
        display:flex;
        justify-content: flex-start;
        svg{
          vertical-align: middle;
          font-size:20px;    
          color:green;      
        }
       
      }
    }
  }
  .delivery_details {
    margin: 20px;
    padding: 0 10px;
    input,
    label {
      display: block;
    }
    & > div {
      padding: 5px 0;
      color: #555;
      & > label {
        font-style: italic;
        font-size: 18px;
      }
      & > input {
        height: 30px;
        font-size: 20px;
        padding: 0 5px;
      }
    }
  }
}
.submit_wrapper {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  .submit {
    border-radius: 10px;
    border: none;
    background-color: #186a3b;
    color: #ddd;
    padding: 2px 10px;
    &:hover {
      cursor: pointer;
    }
    &:active {
      transform: scale(0.99);
    }
  }
}
.empty_cart{
  color:#555;
  text-align:center;
}